@font-face {
  font-family: 'Gilroy Medium';
  src: url('/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/Avenir Next.ttc') format('truetype-collection');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Parabole';
  src: url('/Parabole.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF9EE;
  --foreground: #1A1A1A;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

/* Custom styles for the "handwritten" look if needed */
.handwritten {
  font-family: var(--font-caveat), cursive;
}