@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF9EE;
  --foreground: #1A1A1A;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

/* Custom styles for the "handwritten" look if needed */
.handwritten {
  font-family: var(--font-caveat), cursive;
}